.footer {
    background-color: #000000;
    padding: 5px 10px;
    text-align: center;
    list-style: none;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer li {
    display: inline-block;
    margin: 0 5px;
}

.footer p {
    color: #ffffff;
    background-color: #000000;
    font-size: 14px;
    margin: 0;
    padding: 0%;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.divContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}

.divContainer img {
    width: 30px;
    height: 30px;
}

.stack,
.linkedin {
    background: #ffffff;
    border-radius: 50%;
    padding: 5px;
}

.linkedin {
    display: flex;
    border-radius: 50%;
    padding: 5px;
    overflow: visible;
}

footer {
    margin: 0;
    padding: 0;
    
}